In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [2]:
train_df = pd.read_csv("baby_names.csv")
train_df

       BRITH_YEAR  GENDER            ETHNICTY        NAME  COUNT  RANK
0            2011  FEMALE            HISPANIC   GERALDINE     13    75
1            2011  FEMALE            HISPANIC         GIA     21    67
2            2011  FEMALE            HISPANIC      GIANNA     49    42
3            2011  FEMALE            HISPANIC     GISELLE     38    51
4            2011  FEMALE            HISPANIC       GRACE     36    53
5            2011  FEMALE            HISPANIC   GUADALUPE     26    62
6            2011  FEMALE            HISPANIC      HAILEY    126     8
7            2011  FEMALE            HISPANIC       HALEY     14    74
8            2011  FEMALE            HISPANIC      HANNAH     17    71
9            2011  FEMALE            HISPANIC      HAYLEE     17    71
10           2011  FEMALE            HISPANIC      HAYLEY     13    75
11           2011  FEMALE            HISPANIC       HAZEL     10    78
12           2011  FEMALE            HISPANIC      HEAVEN     15    73
13           2011  FEMALE            HISPANIC       HEIDI     15    73
14           2011  FEMALE            HISPANIC       HEIDY     16    72
15           2011  FEMALE            HISPANIC       HELEN     13    75
16           2011  FEMALE            HISPANIC       IMANI     11    77
17           2011  FEMALE            HISPANIC      INGRID     11    77
18           2011  FEMALE            HISPANIC       IRENE     11    77
19           2011  FEMALE            HISPANIC        IRIS     10    78
20           2011  FEMALE            HISPANIC      ISABEL     28    60
21           2011  FEMALE            HISPANIC     ISABELA     10    78
22           2011  FEMALE            HISPANIC    ISABELLA    331     1
23           2011  FEMALE            HISPANIC    ISABELLE     18    70
24           2011  FEMALE            HISPANIC        ISIS     13    75
25           2011  FEMALE            HISPANIC       ITZEL     27    61
26           2011  FEMALE            HISPANIC    IZABELLA     23    65
27           2011  FEMALE            HISPANIC  JACQUELINE     30    58
28           2011  FEMALE            HISPANIC        JADA     21    67
29           2011  FEMALE            HISPANIC        JADE     50    41
...           ...     ...                 ...         ...    ...   ...
13932        2014    MALE  WHITE NON HISPANIC      Victor     35    77
13933        2014    MALE  WHITE NON HISPANIC     Vincent     43    70
13934        2014    MALE  WHITE NON HISPANIC    Vincenzo     11   101
13935        2014    MALE  WHITE NON HISPANIC      Wesley     11   101
13936        2014    MALE  WHITE NON HISPANIC      Weston     11   101
13937        2014    MALE  WHITE NON HISPANIC     William    183    13
13938        2014    MALE  WHITE NON HISPANIC     Winston     11   101
13939        2014    MALE  WHITE NON HISPANIC        Wolf     12   100
13940        2014    MALE  WHITE NON HISPANIC       Wyatt     33    79
13941        2014    MALE  WHITE NON HISPANIC      Xavier     25    87
13942        2014    MALE  WHITE NON HISPANIC      Yaakov     46    67
13943        2014    MALE  WHITE NON HISPANIC       Yahya     11   101
13944        2014    MALE  WHITE NON HISPANIC       Yakov     45    68
13945        2014    MALE  WHITE NON HISPANIC      Yaseen     12   100
13946        2014    MALE  WHITE NON HISPANIC     Yechiel     39    73
13947        2014    MALE  WHITE NON HISPANIC    Yehoshua     26    86
13948        2014    MALE  WHITE NON HISPANIC      Yehuda     86    41
13949        2014    MALE  WHITE NON HISPANIC       Yidel     10   102
13950        2014    MALE  WHITE NON HISPANIC     Yisrael     14    98
13951        2014    MALE  WHITE NON HISPANIC     Yisroel     83    43
13952        2014    MALE  WHITE NON HISPANIC    Yitzchak     15    97
13953        2014    MALE  WHITE NON HISPANIC    Yitzchok     66    51
13954        2014    MALE  WHITE NON HISPANIC        Yoel     12   100
13955        2014    MALE  WHITE NON HISPANIC       Yosef    116    28
13956        2014    MALE  WHITE NON HISPANIC       Yossi     15    97
13957        2014    MALE  WHITE NON HISPANIC      Yousef     18    94
13958        2014    MALE  WHITE NON HISPANIC     Youssef     24    88
13959        2014    MALE  WHITE NON HISPANIC       Yusuf     16    96
13960        2014    MALE  WHITE NON HISPANIC     Zachary     90    39
13961        2014    MALE  WHITE NON HISPANIC         Zev     49    65

[13962 rows x 6 columns]

In [3]:
train_df.head(5)

   BRITH_YEAR  GENDER  ETHNICTY       NAME  COUNT  RANK
0        2011  FEMALE  HISPANIC  GERALDINE     13    75
1        2011  FEMALE  HISPANIC        GIA     21    67
2        2011  FEMALE  HISPANIC     GIANNA     49    42
3        2011  FEMALE  HISPANIC    GISELLE     38    51
4        2011  FEMALE  HISPANIC      GRACE     36    53

In [4]:
sample = train_df.sample(10)
sample

       BRITH_YEAR  GENDER                    ETHNICTY       NAME  COUNT  RANK
9672         2012    MALE              WHITE NON HISP      JACOB    242     4
9345         2012    MALE                    HISPANIC  FRANCISCO     20    90
11051        2013    MALE  ASIAN AND PACIFIC ISLANDER     Victor     13    54
3288         2011  FEMALE          WHITE NON HISPANIC       LIBA     20    71
3729         2011    MALE          WHITE NON HISPANIC     DENNIS     11    96
13426        2014    MALE                    HISPANIC   Fernando     26    82
247          2011  FEMALE          WHITE NON HISPANIC     AUTUMN     10    81
13782        2014    MALE          WHITE NON HISPANIC     Joseph    300     1
7814         2011    MALE          WHITE NON HISPANIC    STEPHEN     10    97
629          2011    MALE  ASIAN AND PACIFIC ISLANDER   JONATHAN     50    20

In [5]:
random = train_df[(train_df['NAME']) == "YITTY"]
random

      BRITH_YEAR  GENDER            ETHNICTY   NAME  COUNT  RANK
541         2011  FEMALE  WHITE NON HISPANIC  YITTY     32    59
2013        2011  FEMALE  WHITE NON HISPANIC  YITTY     32    59
4925        2011  FEMALE  WHITE NON HISPANIC  YITTY     32    59
6888        2011  FEMALE  WHITE NON HISPANIC  YITTY     32    59
8870        2012  FEMALE      WHITE NON HISP  YITTY     43    50

In [6]:
train_df.isnull()

       BRITH_YEAR  GENDER  ETHNICTY   NAME  COUNT   RANK
0           False   False     False  False  False  False
1           False   False     False  False  False  False
2           False   False     False  False  False  False
3           False   False     False  False  False  False
4           False   False     False  False  False  False
5           False   False     False  False  False  False
6           False   False     False  False  False  False
7           False   False     False  False  False  False
8           False   False     False  False  False  False
9           False   False     False  False  False  False
10          False   False     False  False  False  False
11          False   False     False  False  False  False
12          False   False     False  False  False  False
13          False   False     False  False  False  False
14          False   False     False  False  False  False
15          False   False     False  False  False  False
16          False   False     False  False  False  False
17          False   False     False  False  False  False
18          False   False     False  False  False  False
19          False   False     False  False  False  False
20          False   False     False  False  False  False
21          False   False     False  False  False  False
22          False   False     False  False  False  False
23          False   False     False  False  False  False
24          False   False     False  False  False  False
25          False   False     False  False  False  False
26          False   False     False  False  False  False
27          False   False     False  False  False  False
28          False   False     False  False  False  False
29          False   False     False  False  False  False
...           ...     ...       ...    ...    ...    ...
13932       False   False     False  False  False  False
13933       False   False     False  False  False  False
13934       False   False     False  False  False  False
13935       False   False     False  False  False  False
13936       False   False     False  False  False  False
13937       False   False     False  False  False  False
13938       False   False     False  False  False  False
13939       False   False     False  False  False  False
13940       False   False     False  False  False  False
13941       False   False     False  False  False  False
13942       False   False     False  False  False  False
13943       False   False     False  False  False  False
13944       False   False     False  False  False  False
13945       False   False     False  False  False  False
13946       False   False     False  False  False  False
13947       False   False     False  False  False  False
13948       False   False     False  False  False  False
13949       False   False     False  False  False  False
13950       False   False     False  False  False  False
13951       False   False     False  False  False  False
13952       False   False     False  False  False  False
13953       False   False     False  False  False  False
13954       False   False     False  False  False  False
13955       False   False     False  False  False  False
13956       False   False     False  False  False  False
13957       False   False     False  False  False  False
13958       False   False     False  False  False  False
13959       False   False     False  False  False  False
13960       False   False     False  False  False  False
13961       False   False     False  False  False  False

[13962 rows x 6 columns]

In [7]:
print(train_df.columns)

Index(['BRITH_YEAR', 'GENDER', 'ETHNICTY', 'NAME', 'COUNT', 'RANK'], dtype='object')

In [8]:
train_df.drop(["BRITH_YEAR","ETHNICTY","COUNT","RANK"], axis=1,inplace=True)
train_df

       GENDER        NAME
0      FEMALE   GERALDINE
1      FEMALE         GIA
2      FEMALE      GIANNA
3      FEMALE     GISELLE
4      FEMALE       GRACE
5      FEMALE   GUADALUPE
6      FEMALE      HAILEY
7      FEMALE       HALEY
8      FEMALE      HANNAH
9      FEMALE      HAYLEE
10     FEMALE      HAYLEY
11     FEMALE       HAZEL
12     FEMALE      HEAVEN
13     FEMALE       HEIDI
14     FEMALE       HEIDY
15     FEMALE       HELEN
16     FEMALE       IMANI
17     FEMALE      INGRID
18     FEMALE       IRENE
19     FEMALE        IRIS
20     FEMALE      ISABEL
21     FEMALE     ISABELA
22     FEMALE    ISABELLA
23     FEMALE    ISABELLE
24     FEMALE        ISIS
25     FEMALE       ITZEL
26     FEMALE    IZABELLA
27     FEMALE  JACQUELINE
28     FEMALE        JADA
29     FEMALE        JADE
...       ...         ...
13932    MALE      Victor
13933    MALE     Vincent
13934    MALE    Vincenzo
13935    MALE      Wesley
13936    MALE      Weston
13937    MALE     William
13938    MALE     Winston
13939    MALE        Wolf
13940    MALE       Wyatt
13941    MALE      Xavier
13942    MALE      Yaakov
13943    MALE       Yahya
13944    MALE       Yakov
13945    MALE      Yaseen
13946    MALE     Yechiel
13947    MALE    Yehoshua
13948    MALE      Yehuda
13949    MALE       Yidel
13950    MALE     Yisrael
13951    MALE     Yisroel
13952    MALE    Yitzchak
13953    MALE    Yitzchok
13954    MALE        Yoel
13955    MALE       Yosef
13956    MALE       Yossi
13957    MALE      Yousef
13958    MALE     Youssef
13959    MALE       Yusuf
13960    MALE     Zachary
13961    MALE         Zev

[13962 rows x 2 columns]

In [18]:
train_df[train_df.GENDER == 'FEMALE'].size

14278

In [19]:
train_df[train_df.GENDER == 'MALE'].size

13646

In [20]:
df_names = train_df

In [21]:
df_names

       GENDER        NAME
0      FEMALE   GERALDINE
1      FEMALE         GIA
2      FEMALE      GIANNA
3      FEMALE     GISELLE
4      FEMALE       GRACE
5      FEMALE   GUADALUPE
6      FEMALE      HAILEY
7      FEMALE       HALEY
8      FEMALE      HANNAH
9      FEMALE      HAYLEE
10     FEMALE      HAYLEY
11     FEMALE       HAZEL
12     FEMALE      HEAVEN
13     FEMALE       HEIDI
14     FEMALE       HEIDY
15     FEMALE       HELEN
16     FEMALE       IMANI
17     FEMALE      INGRID
18     FEMALE       IRENE
19     FEMALE        IRIS
20     FEMALE      ISABEL
21     FEMALE     ISABELA
22     FEMALE    ISABELLA
23     FEMALE    ISABELLE
24     FEMALE        ISIS
25     FEMALE       ITZEL
26     FEMALE    IZABELLA
27     FEMALE  JACQUELINE
28     FEMALE        JADA
29     FEMALE        JADE
...       ...         ...
13932    MALE      Victor
13933    MALE     Vincent
13934    MALE    Vincenzo
13935    MALE      Wesley
13936    MALE      Weston
13937    MALE     William
13938    MALE     Winston
13939    MALE        Wolf
13940    MALE       Wyatt
13941    MALE      Xavier
13942    MALE      Yaakov
13943    MALE       Yahya
13944    MALE       Yakov
13945    MALE      Yaseen
13946    MALE     Yechiel
13947    MALE    Yehoshua
13948    MALE      Yehuda
13949    MALE       Yidel
13950    MALE     Yisrael
13951    MALE     Yisroel
13952    MALE    Yitzchak
13953    MALE    Yitzchok
13954    MALE        Yoel
13955    MALE       Yosef
13956    MALE       Yossi
13957    MALE      Yousef
13958    MALE     Youssef
13959    MALE       Yusuf
13960    MALE     Zachary
13961    MALE         Zev

[13962 rows x 2 columns]

In [25]:
df_names.GENDER.replace({'FEMALE':0,'MALE':1},inplace=True)

In [26]:
df_names.GENDER.unique()

array([0, 1], dtype=int64)

In [27]:
df_names.dtypes

GENDER     int64
NAME      object
dtype: object

In [28]:
Xfeatures =df_names['NAME']

In [29]:
# Feature Extraction 
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [30]:
cv.get_feature_names()

['aahil',
 'aaliyah',
 'aarav',
 'aaron',
 'aarya',
 'aayan',
 'abby',
 'abdiel',
 'abdoul',
 'abdoulaye',
 'abdul',
 'abdullah',
 'abel',
 'abigail',
 'abraham',
 'abrielle',
 'abril',
 'ada',
 'adam',
 'adan',
 'addison',
 'adelaide',
 'adele',
 'adelina',
 'adeline',
 'adelyn',
 'aden',
 'adina',
 'aditya',
 'adonis',
 'adrian',
 'adriana',
 'adrianna',
 'adriel',
 'adyan',
 'aharon',
 'ahmad',
 'ahmed',
 'ahnaf',
 'ahron',
 'ahuva',
 'aicha',
 'aidan',
 'aiden',
 'aileen',
 'aimee',
 'aisha',
 'aissata',
 'aissatou',
 'aiza',
 'akiva',
 'alan',
 'alana',
 'alani',
 'alanis',
 'alanna',
 'albert',
 'alberto',
 'aldo',
 'alec',
 'aleena',
 'alejandra',
 'alejandro',
 'aleksander',
 'aleksandra',
 'alessandra',
 'alessia',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandria',
 'alexia',
 'alexis',
 'alfred',
 'alfredo',
 'ali',
 'alice',
 'alicia',
 'alijah',
 'alina',
 'alisa',
 'alisha',
 'alison',
 'alissa',
 'alisson',
 'aliyah',
 'aliza',
 'allan',
 'allen',
 'allison',
 'allyson',
 'alma',
 'alondra',
 'alonso',
 'alpha',
 'alston',
 'alter',
 'alvin',
 'alyson',
 'alyssa',
 'amadou',
 'amalia',
 'amanda',
 'amani',
 'amar',
 'amara',
 'amare',
 'amari',
 'amaya',
 'amber',
 'amberly',
 'amelia',
 'amelie',
 'amia',
 'amina',
 'aminata',
 'amir',
 'amira',
 'amirah',
 'amiya',
 'amiyah',
 'amrom',
 'amy',
 'ana',
 'anabel',
 'anabella',
 'anabelle',
 'anais',
 'analia',
 'ananya',
 'anastasia',
 'anaya',
 'anayah',
 'anderson',
 'andre',
 'andrea',
 'andres',
 'andrew',
 'andy',
 'angel',
 'angela',
 'angelica',
 'angelina',
 'angeline',
 'angelique',
 'angelo',
 'angely',
 'angie',
 'angus',
 'anika',
 'anisa',
 'anisha',
 'aniya',
 'aniyah',
 'anna',
 'annabel',
 'annabella',
 'annabelle',
 'annalise',
 'anne',
 'annie',
 'annika',
 'anson',
 'anthony',
 'anton',
 'antonia',
 'antonio',
 'anya',
 'april',
 'arabella',
 'archer',
 'arely',
 'arham',
 'ari',
 'aria',
 'arian',
 'ariana',
 'arianna',
 'arianny',
 'ariel',
 'ariela',
 'ariella',
 'arielle',
 'arisha',
 'arjun',
 'arlo',
 'armaan',
 'armando',
 'armani',
 'aron',
 'arthur',
 'arturo',
 'arvin',
 'arya',
 'aryan',
 'arye',
 'aryeh',
 'asher',
 'ashley',
 'ashly',
 'ashton',
 'asia',
 'atara',
 'athena',
 'atticus',
 'aubree',
 'aubrey',
 'audrey',
 'august',
 'augustus',
 'aurora',
 'austin',
 'autumn',
 'ava',
 'avery',
 'avi',
 'avigail',
 'avital',
 'aviva',
 'avraham',
 'avril',
 'avrohom',
 'avrum',
 'awa',
 'axel',
 'aya',
 'ayaan',
 'ayala',
 'ayan',
 'ayanna',
 'ayden',
 'aydin',
 'ayesha',
 'ayla',
 'ayleen',
 'aylin',
 'azaan',
 'azaria',
 'aziza',
 'baila',
 'barbara',
 'baruch',
 'basya',
 'batsheva',
 'batya',
 'beatrice',
 'beatrix',
 'beckett',
 'bella',
 'ben',
 'benjamin',
 'bennett',
 'benson',
 'bentzion',
 'benzion',
 'berish',
 'berl',
 'bianca',
 'bintou',
 'binyamin',
 'binyomin',
 'blake',
 'blessing',
 'blima',
 'blimy',
 'bonnie',
 'boruch',
 'boubacar',
 'bowen',
 'bracha',
 'bradley',
 'brady',
 'brandon',
 'brayan',
 'brayden',
 'breindy',
 'brenda',
 'brendan',
 'bria',
 'brian',
 'briana',
 'brianna',
 'brianny',
 'bridget',
 'brielle',
 'brigitte',
 'britney',
 'brittany',
 'brody',
 'brooke',
 'brooklyn',
 'brooks',
 'bruce',
 'brucha',
 'bruchy',
 'bryan',
 'bryanna',
 'bryant',
 'bryce',
 'brynn',
 'bryson',
 'byron',
 'caden',
 'caiden',
 'cairo',
 'caitlin',
 'caleb',
 'cali',
 'calvin',
 'camden',
 'cameron',
 'camila',
 'camilla',
 'camille',
 'camilo',
 'camren',
 'carina',
 'carla',
 'carlos',
 'carly',
 'carmelo',
 'carmen',
 'carmine',
 'carolina',
 'caroline',
 'carson',
 'carter',
 'casey',
 'cassandra',
 'cassidy',
 'cataleya',
 'catalina',
 'catherine',
 'cayden',
 'cecelia',
 'cecilia',
 'celeste',
 'celia',
 'celine',
 'cesar',
 'chad',
 'chaim',
 'chana',
 'chance',
 'chanel',
 'chanie',
 'chany',
 'charles',
 'charlie',
 'charlotte',
 'chase',
 'chava',
 'chavy',
 'chaya',
 'chelsea',
 'cheskel',
 'chesky',
 'cheyenne',
 'chiara',
 'chloe',
 'chris',
 'christian',
 'christina',
 'christine',
 'christopher',
 'christy',
 'cindy',
 'claire',
 'clara',
 'claudia',
 'clementine',
 'cody',
 'cole',
 'colette',
 'colin',
 'colton',
 'connie',
 'connor',
 'conor',
 'cooper',
 'cora',
 'corey',
 'cormac',
 'cristian',
 'cristina',
 'cristofer',
 'cristopher',
 'crystal',
 'cynthia',
 'cyrus',
 'dahlia',
 'daisy',
 'dakota',
 'daleyza',
 'dalia',
 'damani',
 'damaris',
 'damian',
 'damien',
 'damon',
 'dana',
 'daniel',
 'daniela',
 'daniella',
 'danielle',
 'danna',
 'danny',
 'dante',
 'daphne',
 'dariel',
 'darius',
 'darren',
 'darwin',
 'dashiell',
 'david',
 'dayana',
 'dean',
 'deborah',
 'declan',
 'delilah',
 'denis',
 'denise',
 'dennis',
 'denzel',
 'dereck',
 'derek',
 'derick',
 'derrick',
 'desmond',
 'destiny',
 'devin',
 'devon',
 'devora',
 'devorah',
 'diana',
 'diego',
 'dilan',
 'dina',
 'diya',
 'dominic',
 'dominick',
 'donovan',
 'doris',
 'dov',
 'dovid',
 'drew',
 'dulce',
 'duvid',
 'dwayne',
 'dylan',
 'eason',
 'eddie',
 'eddy',
 'eden',
 'edgar',
 'edison',
 'edith',
 'eduardo',
 'edward',
 'edwin',
 'efraim',
 'egypt',
 'eileen',
 'eitan',
 'elaine',
 'elan',
 'eleanor',
 'elena',
 'eleni',
 'eli',
 'eliam',
 'elian',
 'eliana',
 'elianna',
 'elianny',
 'elias',
 'eliezer',
 'elijah',
 'elimelech',
 'elina',
 'elisa',
 'elise',
 'elisheva',
 'eliyahu',
 'eliza',
 'elizabeth',
 'ella',
 'elle',
 'elliana',
 'ellie',
 'elliot',
 'elliott',
 'ellis',
 'eloise',
 'elsa',
 'eluzer',
 'elvin',
 'elvis',
 'emaan',
 'emani',
 'emanuel',
 'emely',
 'emerson',
 'emilia',
 'emiliano',
 'emilio',
 'emily',
 'emma',
 'emmanuel',
 'emmeline',
 'emmett',
 'enrique',
 'enzo',
 'ephraim',
 'eric',
 'erica',
 'erick',
 'erik',
 'erika',
 'erin',
 'eshaal',
 'eshal',
 'esme',
 'esmeralda',
 'essence',
 'esteban',
 'estelle',
 'ester',
 'esther',
 'estrella',
 'esty',
 'ethan',
 'etty',
 'eunice',
 'eva',
 'evan',
 'evangeline',
 'eve',
 'evelyn',
 'everett',
 'everly',
 'evie',
 'ezekiel',
 'ezequiel',
 'ezra',
 'ezriel',
 'fabian',
 'faiga',
 'faigy',
 'faith',
 'fanta',
 'farah',
 'farhan',
 'fatima',
 'fatou',
 'fatoumata',
 'felipe',
 'felix',
 'fernanda',
 'fernando',
 'filip',
 'finley',
 'finn',
 'fiona',
 'fradel',
 'frady',
 'fraidy',
 'frances',
 'francesca',
 'francesco',
 'francis',
 'francisco',
 'frank',
 'franklin',
 'freddy',
 'frederick',
 'freya',
 'frimet',
 'gabriel',
 'gabriela',
 'gabriella',
 'gabrielle',
 'gael',
 'gary',
 'gavin',
 'gavriel',
 'gemma',
 'genesis',
 'genevieve',
 'george',
 'georgia',
 'geraldine',
 'gerard',
 'gerardo',
 'gia',
 'giada',
 'giancarlo',
 'gianluca',
 'gianna',
 'giovani',
 'giovanna',
 'giovanni',
 'giovanny',
 'giselle',
 'gittel',
 'gitty',
 'giulia',
 'giuliana',
 'giuseppe',
 'golda',
 'goldie',
 'goldy',
 'gordon',
 'grace',
 'graham',
 'grant',
 'grayson',
 'gregory',
 'greta',
 'greyson',
 'griffin',
 'guadalupe',
 'gustavo',
 'hadassa',
 'hadassah',
 'hadley',
 'hafsa',
 'hailey',
 'hailie',
 'haley',
 'hamza',
 'hana',
 'hanley',
 'hanna',
 'hannah',
 'hao',
 'hareem',
 'harlow',
 'harmony',
 'harper',
 'harrison',
 'harry',
 'harvey',
 'hassan',
 'hawa',
 'hayden',
 'haylee',
 'hayley',
 'hazel',
 'heaven',
 'hector',
 'heidi',
 'heidy',
 'helen',
 'helena',
 'henchy',
 'henny',
 'henry',
 'hersh',
 'hershel',
 'hershy',
 'hillel',
 'hinda',
 'hindy',
 'hope',
 'hudson',
 'hugo',
 'hunter',
 'ian',
 'ibrahim',
 'ibrahima',
 'idy',
 'iker',
 'ilan',
 'ilana',
 'imani',
 'imran',
 'inaaya',
 'inaya',
 'ines',
 'ingrid',
 'irene',
 'iris',
 'isaac',
 'isabel',
 'isabela',
 'isabella',
 'isabelle',
 'isaiah',
 'isaias',
 'ishaan',
 'ishmael',
 'isiah',
 'isis',
 'isla',
 'ismael',
 'israel',
 'issac',
 'itzel',
 'ivan',
 'ivanna',
 'ivy',
 'izabella',
 'izaiah',
 'jace',
 'jack',
 'jackson',
 'jacky',
 'jacob',
 'jacqueline',
 'jad',
 'jada',
 'jade',
 'jaden',
 'jadiel',
 'jael',
 'jaelyn',
 'jaelynn',
 'jaheim',
 'jahir',
 'jahmir',
 'jaiden',
 'jaime',
 'jair',
 'jake',
 'jakub',
 'jalen',
 'jaliyah',
 'jamal',
 'jamar',
 'jamari',
 'jamel',
 'james',
 'jamie',
 'jamir',
 'jana',
 'janae',
 'jane',
 'janelle',
 'janice',
 'janiel',
 'janiya',
 'janiyah',
 'jannat',
 'januel',
 'jared',
 'jariel',
 'jasiah',
 'jaslene',
 'jasmin',
 'jasmina',
 'jasmine',
 'jason',
 'jasper',
 'javier',
 'jax',
 'jaxon',
 'jaxson',
 'jay',
 'jayce',
 'jayceon',
 'jaycob',
 'jayda',
 'jayden',
 'jayla',
 'jaylah',
 'jaylee',
 'jayleen',
 'jaylen',
 'jaylene',
 'jaylin',
 'jaylyn',
 'jayren',
 'jayson',
 'jazlyn',
 'jazmin',
 'jazmine',
 'jazzlyn',
 'jean',
 'jeancarlos',
 'jefferson',
 'jeffrey',
 'jelani',
 'jencarlos',
 'jenna',
 'jennifer',
 'jenny',
 'jeremiah',
 'jeremias',
 'jeremy',
 'jermaine',
 'jerry',
 'jesse',
 'jessica',
 'jessie',
 'jesus',
 'jia',
 'jimena',
 'jimmy',
 'joanna',
 'joaquin',
 'jocelyn',
 'joel',
 'johan',
 'johann',
 'johanna',
 'john',
 'johnathan',
 'johnny',
 'jolie',
 'jolin',
 'jonah',
 'jonas',
 'jonathan',
 'jordan',
 'jordyn',
 'jorge',
 'jose',
 'joselyn',
 'joseph',
 'josephine',
 'joshua',
 'josiah',
 'josue',
 'journee',
 'journey',
 'joy',
 'joyce',
 'juan',
 'judah',
 'jude',
 'judy',
 'julia',
 'julian',
 'juliana',
 'julianna',
 'julie',
 'julien',
 'juliet',
 'juliette',
 'julio',
 'julissa',
 'julius',
 'jun',
 'june',
 'junior',
 'juniper',
 'justice',
 'justin',
 'kabir',
 'kacper',
 'kaden',
 'kadiatou',
 'kaelyn',
 'kai',
 'kaiden',
 'kailey',
 'kailyn',
 'kaitlyn',
 'kaleb',
 'kali',
 'kaliyah',
 'kamari',
 'kameron',
 'kamila',
 'kamiyah',
 'karas',
 'kareem',
 'karen',
 'karina',
 'karla',
 'karter',
 'kassandra',
 'kate',
 'katelyn',
 'katelynn',
 'katerina',
 'katherine',
 'kathryn',
 'katie',
 'kaya',
 'kayden',
 'kayla',
 'kaylee',
 'kayleen',
 'kayleigh',
 'kaylie',
 'kaylin',
 'keila',
 'keily',
 'keira',
 'keith',
 'kelly',
 'kelsey',
 'kelvin',
 'kendra',
 'kendrick',
 'kennedy',
 'kenneth',
 'kenny',
 'kenya',
 'kevin',
 'keyla',
 'khadija',
 'khadijah',
 'khalil',
 'khloe',
 'kiara',
 'kieran',
 'kimberly',
 'kimi',
 'kimora',
 'king',
 'kingsley',
 'kingston',
 'kira',
 'kiyan',
 'kourtney',
 'krish',
 'kristen',
 'kristian',
 'krystal',
 'kyla',
 'kyle',
 'kylee',
 'kylie',
 'kymani',
 'kyrie',
 'laila',
 'lailah',
 'laith',
 'lamar',
 'lana',
 'landon',
 'lara',
 'larry',
 'laura',
 'lauren',
 'lauryn',
 'lawrence',
 'layan',
 'layla',
 'lazer',
 'lea',
 'leah',
 'leandro',
 'leanna',
 'leela',
 'leibish',
 'leila',
 'leilani',
 'lena',
 'lenny',
 'leo',
 'leon',
 'leona',
 'leonard',
 'leonardo',
 'leonel',
 'leonidas',
 'leora',
 'lesley',
 'leslie',
 'lesly',
 'lev',
 'levi',
 'leyla',
 'lia',
 'liam',
 'lian',
 'liana',
 'liba',
 'libby',
 'lila',
 'lilah',
 'lilian',
 'liliana',
 'lillian',
 'lilly',
 'lily',
 'lina',
 'lincoln',
 'linda',
 'lindsay',
 'lipa',
 'lisa',
 'litzy',
 'liv',
 'livia',
 'liz',
 'lizbeth',
 'logan',
 'lola',
 'london',
 'londyn',
 'lorenzo',
 'louis',
 'louisa',
 'louise',
 ...]

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
# Features 
X
# Labels
y = df_names.GENDER

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.9793836805555556

In [36]:
# Accuracy of our Model
print("Accuracy of Model",clf.score(X_test,y_test)*100,"%")

Accuracy of Model 97.93836805555556 %

In [37]:
# Accuracy of our Model
print("Accuracy of Model",clf.score(X_train,y_train)*100,"%")

Accuracy of Model 98.87748556767158 %

In [38]:
# Sample1 Prediction
sample_name = ["Mary"]
vect = cv.transform(sample_name).toarray()

In [39]:
vect

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [40]:
# Female is 0, Male is 1
clf.predict(vect)

array([0], dtype=int64)

In [41]:
# Sample2 Prediction
sample_name1 = ["Mark"]
vect1 = cv.transform(sample_name1).toarray()

In [42]:
clf.predict(vect1)

array([1], dtype=int64)

In [43]:
# Sample3 Prediction of Russian Names
sample_name2 = ["Natasha"]
vect2 = cv.transform(sample_name2).toarray()

In [44]:
clf.predict(vect2)

array([0], dtype=int64)

In [45]:
# Sample3 Prediction of Random Names
sample_name3 = ["Nefertiti","Nasha","Ama","Ayo","Xhavier","Ovetta","Tathiana","Xia","Joseph","Xianliang"]
vect3 = cv.transform(sample_name3).toarray()

In [46]:
clf.predict(vect3)

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [48]:
def genderpredictor(a):
    test_name = [a]
    vector = cv.transform(test_name).toarray()
    if clf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [49]:
genderpredictor("Martha")

Female

In [50]:
namelist = ["Yaa","Yaw","Femi","Masha"]
for i in namelist:
    print(genderpredictor(i))

Female
None
Female
None
Female
None
Female
None

In [51]:
# By Analogy most female names ends in 'A' or 'E' or has the sound of 'A'
def features(name):
    name = name.lower()
    return {
        'first-letter': name[0], # First letter
        'first2-letters': name[0:2], # First 2 letters
        'first3-letters': name[0:3], # First 3 letters
        'last-letter': name[-1],
        'last2-letters': name[-2:],
        'last3-letters': name[-3:],
    }

In [52]:
features = np.vectorize(features)
print(features(["Anna", "Hannah", "Peter","John","Vladmir","Mohammed"]))

[{'first-letter': 'a', 'first2-letters': 'an', 'first3-letters': 'ann', 'last-letter': 'a', 'last2-letters': 'na', 'last3-letters': 'nna'}
 {'first-letter': 'h', 'first2-letters': 'ha', 'first3-letters': 'han', 'last-letter': 'h', 'last2-letters': 'ah', 'last3-letters': 'nah'}
 {'first-letter': 'p', 'first2-letters': 'pe', 'first3-letters': 'pet', 'last-letter': 'r', 'last2-letters': 'er', 'last3-letters': 'ter'}
 {'first-letter': 'j', 'first2-letters': 'jo', 'first3-letters': 'joh', 'last-letter': 'n', 'last2-letters': 'hn', 'last3-letters': 'ohn'}
 {'first-letter': 'v', 'first2-letters': 'vl', 'first3-letters': 'vla', 'last-letter': 'r', 'last2-letters': 'ir', 'last3-letters': 'mir'}
 {'first-letter': 'm', 'first2-letters': 'mo', 'first3-letters': 'moh', 'last-letter': 'd', 'last2-letters': 'ed', 'last3-letters': 'med'}]

In [54]:
# Extract the features for the dataset
df_X = features(df_names['NAME'])

In [55]:
from sklearn.feature_extraction import DictVectorizer
 
corpus = features(["Mike", "Julia"])
dv = DictVectorizer()
dv.fit(corpus)
transformed = dv.transform(corpus)
print(transformed)

  (0, 1)	1.0
  (0, 3)	1.0
  (0, 5)	1.0
  (0, 7)	1.0
  (0, 9)	1.0
  (0, 10)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 4)	1.0
  (1, 6)	1.0
  (1, 8)	1.0
  (1, 11)	1.0

In [56]:
dv.get_feature_names()

['first-letter=j',
 'first-letter=m',
 'first2-letters=ju',
 'first2-letters=mi',
 'first3-letters=jul',
 'first3-letters=mik',
 'last-letter=a',
 'last-letter=e',
 'last2-letters=ia',
 'last2-letters=ke',
 'last3-letters=ike',
 'last3-letters=lia']

In [58]:
df_y = df_names['GENDER']

In [59]:
# Train Test Split
dfX_train, dfX_test, dfy_train, dfy_test = train_test_split(df_X, df_y, test_size=0.33, random_state=42)

In [60]:
dfX_train

array([{'first-letter': 'k', 'first2-letters': 'ka', 'first3-letters': 'kay', 'last-letter': 'n', 'last2-letters': 'in', 'last3-letters': 'lin'},
       {'first-letter': 'w', 'first2-letters': 'wi', 'first3-letters': 'wil', 'last-letter': 'm', 'last2-letters': 'am', 'last3-letters': 'iam'},
       {'first-letter': 'm', 'first2-letters': 'ma', 'first3-letters': 'mat', 'last-letter': 'o', 'last2-letters': 'eo', 'last3-letters': 'teo'},
       ...,
       {'first-letter': 'f', 'first2-letters': 'fr', 'first3-letters': 'fra', 'last-letter': 'k', 'last2-letters': 'nk', 'last3-letters': 'ank'},
       {'first-letter': 'n', 'first2-letters': 'ni', 'first3-letters': 'nig', 'last-letter': 'l', 'last2-letters': 'el', 'last3-letters': 'gel'},
       {'first-letter': 'a', 'first2-letters': 'an', 'first3-letters': 'and', 'last-letter': 's', 'last2-letters': 'es', 'last3-letters': 'res'}],
      dtype=object)

In [61]:
dv = DictVectorizer()
dv.fit_transform(dfX_train)

<9354x1700 sparse matrix of type '<class 'numpy.float64'>'
	with 56124 stored elements in Compressed Sparse Row format>

In [62]:
# Model building Using DecisionTree

from sklearn.tree import DecisionTreeClassifier
 
dclf = DecisionTreeClassifier()
my_xfeatures =dv.transform(dfX_train)
dclf.fit(my_xfeatures, dfy_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [63]:
# Build Features and Transform them
sample_name_eg = ["Alex"]
transform_dv =dv.transform(features(sample_name_eg))

In [64]:
vect3 = transform_dv.toarray()

In [65]:
# Predicting Gender of Name
# Male is 1,female = 0
dclf.predict(vect3)

array([1], dtype=int64)

In [66]:
if dclf.predict(vect3) == 0:
    print("Female")
else:
    print("Male")

Male

In [67]:
# Second Prediction With Nigerian Name
name_eg1 = ["Chioma"]
transform_dv =dv.transform(features(name_eg1))
vect4 = transform_dv.toarray()
if dclf.predict(vect4) == 0:
    print("Female")
else:
    print("Male")

Female

In [68]:
# A function to do it
def genderpredictor1(a):
    test_name1 = [a]
    transform_dv =dv.transform(features(test_name1))
    vector = transform_dv.toarray()
    if dclf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [69]:
random_name_list = ["Alex","Alice","Chioma","Vitalic","Clairese","Chan"]

In [70]:
for n in random_name_list:
    print(genderpredictor1(n))

Male
None
Female
None
Female
None
Male
None
Female
None
Male
None

In [71]:
## Accuracy of Models Decision Tree Classifier Works better than Naive Bayes
# Accuracy on training set
print(dclf.score(dv.transform(dfX_train), dfy_train))

0.9885610434038914

In [72]:
# Accuracy on test set
print(dclf.score(dv.transform(dfX_test), dfy_test))

0.9858940972222222