In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Binarizer
import pandas as pd

In [ ]:
X = pd.read_csv("train.csv")
y = X.pop("Survived")
test = pd.read_csv("test.csv")

In [3]:
X.describe(include="all")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,"Ford, Mrs. Edward (Margaret Ann Watson)",male,NaN,NaN,NaN,1601,NaN,C23 C25 C27,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [4]:
test.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
#Replace NA with Mean
X["Age"].fillna(X["Age"].mean(), inplace=True)
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
#Replace NA with Mean
test["Age"].fillna(test["Age"].mean(), inplace=True)
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [7]:
test["Fare"].fillna(test["Fare"].mean(), inplace=True)
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [8]:
X.dtypes[X.dtypes != "object"].index

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [9]:
numeric_variables = list(X.dtypes[X.dtypes != "object"].index)
X[numeric_variables].head(10)

   PassengerId  Pclass        Age  SibSp  Parch     Fare
0            1       3  22.000000      1      0   7.2500
1            2       1  38.000000      1      0  71.2833
2            3       3  26.000000      0      0   7.9250
3            4       1  35.000000      1      0  53.1000
4            5       3  35.000000      0      0   8.0500
5            6       3  29.699118      0      0   8.4583
6            7       1  54.000000      0      0  51.8625
7            8       3   2.000000      3      1  21.0750
8            9       3  27.000000      0      2  11.1333
9           10       2  14.000000      1      0  30.0708

In [11]:
from sklearn.preprocessing import StandardScaler
scaled_X = StandardScaler().fit_transform(X[numeric_variables])

## Train Model

In [12]:
model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
#model.fit(X[numeric_variables], y)
model.fit(scaled_X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=True, random_state=42, verbose=0, warm_start=False)

In [13]:
##Area of RSquares using Out of Bag
model.oob_score_.round(2)
# w/o scaler = 0.1361695005913669
# w scaler = 0.13681410597870625

0.14

In [12]:
model.score(scaled_X, y).round(2)

0.88

In [14]:
#Find the ROC curve value
y_oob = model.oob_prediction_
print("c_stat: ", roc_auc_score(y, y_oob))
# w/o scaler c_stat:  0.73995515504
# w scaler c_stat:  0.740210803268

c_stat:  0.7402108032680365

In [15]:
y_oob

array([0.71111111, 0.72413793, 0.02325581, 0.47368421, 0.16666667,
       0.34146341, 0.64705882, 0.17647059, 0.52777778, 0.75609756,
       0.72222222, 0.29411765, 0.38709677, 0.625     , 0.87096774,
       0.46875   , 0.04444444, 0.78571429, 0.41304348, 0.24242424,
       0.88571429, 0.64102564, 0.35897436, 0.5       , 0.27777778,
       0.05128205, 0.88636364, 0.71428571, 0.46875   , 0.36842105,
       0.47368421, 0.23684211, 0.84090909, 0.67647059, 0.82051282,
       0.475     , 0.33333333, 0.225     , 0.18421053, 0.53191489,
       0.275     , 0.57777778, 0.11904762, 0.90625   , 0.36363636,
       0.0625    , 0.61764706, 0.62162162, 0.44186047, 0.16129032,
       0.25      , 0.70833333, 0.25      , 0.61290323, 0.36363636,
       0.4       , 0.66666667, 0.5       , 1.        , 0.13157895,
       0.33333333, 0.2       , 0.76923077, 0.21428571, 0.5       ,
       0.25      , 0.36842105, 0.33333333, 0.4516129 , 0.10526316,
       0.88888889, 0.13157895, 0.51351351, 0.23076923, 0.34146341,
       0.56410256, 0.1       , 0.03030303, 0.97222222, 0.41860465,
       0.11428571, 0.07142857, 0.52631579, 0.44444444, 0.54761905,
       0.16129032, 0.28571429, 0.        , 0.20512821, 0.        ,
       0.06060606, 0.75      , 0.34482759, 0.6       , 0.18421053,
       0.        , 0.12820513, 0.26470588, 0.4       , 0.57142857,
       0.        , 0.        , 0.58823529, 0.02777778, 0.14893617,
       0.02941176, 0.2195122 , 0.30232558, 0.04651163, 0.38095238,
       0.1       , 0.51282051, 0.        , 0.32352941, 0.16666667,
       0.07317073, 0.2       , 0.59090909, 0.4       , 0.15384615,
       0.14285714, 0.        , 0.23333333, 0.28205128, 0.40540541,
       0.4       , 0.72727273, 0.08823529, 0.41025641, 0.18604651,
       0.        , 0.475     , 0.09090909, 0.14705882, 0.30769231,
       0.41463415, 0.57894737, 0.575     , 0.33333333, 0.52272727,
       0.79411765, 0.425     , 0.20512821, 0.26315789, 0.42857143,
       0.73913043, 0.375     , 0.3125    , 0.57777778, 0.5       ,
       0.17777778, 0.25714286, 0.05263158, 0.10526316, 0.1875    ,
       0.2972973 , 0.36842105, 0.06451613, 0.02040816, 0.        ,
       0.16666667, 0.28205128, 0.69444444, 0.22857143, 0.15384615,
       0.44444444, 0.29787234, 0.1       , 0.3125    , 0.6       ,
       0.        , 0.13333333, 0.84090909, 0.21875   , 0.06896552,
       0.74285714, 0.25806452, 0.35897436, 0.26190476, 0.13157895,
       0.        , 0.41025641, 0.16129032, 0.94594595, 0.76315789,
       0.36111111, 0.37142857, 0.40909091, 0.23529412, 0.04878049,
       0.05555556, 0.31707317, 0.34285714, 0.97435897, 0.48780488,
       0.52173913, 0.64516129, 0.02702703, 0.        , 0.25      ,
       0.35483871, 0.02702703, 0.02857143, 0.09090909, 0.65384615,
       0.8974359 , 0.47368421, 0.3030303 , 0.51724138, 0.34693878,
       0.25714286, 0.45      , 0.2       , 0.42857143, 0.51351351,
       0.94444444, 0.09375   , 0.5       , 0.9       , 0.23076923,
       0.64516129, 0.29032258, 0.08695652, 0.15151515, 0.81818182,
       0.275     , 0.05405405, 0.125     , 0.39534884, 0.21212121,
       0.91666667, 0.0625    , 0.10810811, 0.32352941, 0.13953488,
       0.02941176, 0.34482759, 0.92592593, 0.42857143, 0.39473684,
       0.43902439, 0.34146341, 0.18181818, 0.06666667, 0.08108108,
       0.78125   , 0.27272727, 0.52777778, 0.70588235, 0.23333333,
       0.06060606, 0.25714286, 0.13953488, 0.7       , 0.425     ,
       0.36363636, 0.77419355, 0.95348837, 0.82352941, 0.34285714,
       0.28571429, 0.15909091, 0.9375    , 0.07894737, 0.47619048,
       0.11111111, 0.12121212, 0.23684211, 0.4       , 0.86111111,
       0.39534884, 0.09756098, 0.39393939, 0.54545455, 0.34146341,
       0.54545455, 0.325     , 0.28571429, 0.22580645, 0.2195122 ,
       0.15151515, 0.625     , 0.37037037, 0.13953488, 0.43902439,
       0.29166667, 0.10810811, 0.25      , 0.22222222, 0.59459459,
       0.82926829, 0.75609756, 0.68421053, 0.11904762, 0.07317073,
       0.48648649, 0.34883721, 0.96969697, 0.125     , 0.6       ,
       0.63636364, 0.72222222, 0.46153846, 0.4       , 0.21875   ,
       0.44117647, 0.95121951, 0.70454545, 0.45      , 0.84615385,
       0.93548387, 0.80487805, 0.7       , 0.02702703, 0.48780488,
       0.42857143, 0.38709677, 0.27272727, 0.60465116, 0.88095238,
       0.4047619 , 0.21052632, 0.48648649, 0.66666667, 0.14285714,
       0.82222222, 0.29268293, 0.35      , 0.47222222, 0.91428571,
       0.55555556, 0.41025641, 0.925     , 0.42857143, 0.725     ,
       0.12820513, 0.97297297, 0.925     , 0.12820513, 0.2       ,
       0.975     , 0.64444444, 0.53846154, 0.55263158, 0.72727273,
       0.29411765, 0.42857143, 0.33333333, 0.9       , 0.45945946,
       0.21212121, 0.26315789, 0.51282051, 0.5       , 0.32352941,
       0.22222222, 0.85714286, 0.71052632, 0.65625   , 0.74358974,
       0.21621622, 0.37142857, 0.39473684, 0.25806452, 0.68571429,
       0.51351351, 0.73333333, 0.125     , 0.63636364, 0.77142857,
       0.71052632, 0.25714286, 0.45652174, 0.97222222, 0.2972973 ,
       0.88571429, 0.21052632, 0.46341463, 0.28888889, 0.55555556,
       0.7       , 0.93103448, 0.41025641, 0.45945946, 0.07142857,
       0.71428571, 0.35483871, 0.28125   , 0.40740741, 0.575     ,
       0.73684211, 0.        , 0.28571429, 0.66666667, 0.30232558,
       0.7       , 0.35555556, 0.41666667, 0.5       , 0.41176471,
       0.18604651, 0.125     , 0.07142857, 0.52631579, 0.02702703,
       0.64516129, 0.27083333, 0.97058824, 0.13333333, 0.02941176,
       0.05      , 0.10344828, 1.        , 0.10344828, 0.36842105,
       0.17857143, 0.5       , 0.6       , 0.72972973, 0.56521739,
       0.10526316, 0.14285714, 0.425     , 0.31818182, 0.36842105,
       0.02857143, 0.66666667, 0.86666667, 0.14705882, 0.14893617,
       0.72222222, 0.3       , 0.5       , 0.14705882, 0.94871795,
       0.88888889, 0.23529412, 0.875     , 0.68571429, 0.56756757,
       0.48780488, 0.23684211, 0.21052632, 0.43243243, 0.02777778,
       0.89655172, 0.94871795, 0.71052632, 0.75757576, 0.30769231,
       0.88636364, 0.45454545, 0.8       , 0.54285714, 0.32142857,
       0.10810811, 0.05263158, 0.31428571, 0.45714286, 0.1       ,
       0.19512195, 0.08333333, 0.34375   , 0.725     , 0.07692308,
       0.03333333, 0.09677419, 0.25      , 0.03571429, 0.90697674,
       0.02631579, 0.0952381 , 0.43589744, 0.5       , 0.25      ,
       0.76470588, 0.71794872, 0.17241379, 0.38888889, 0.96774194,
       0.07317073, 0.07692308, 0.37209302, 0.15      , 0.84782609,
       0.07142857, 0.94871795, 0.19354839, 0.02777778, 0.23076923,
       0.11764706, 0.23684211, 0.27906977, 0.17948718, 0.02857143,
       0.05405405, 0.8125    , 0.17647059, 0.65116279, 0.20588235,
       0.05      , 0.3255814 , 0.        , 0.15625   , 0.75      ,
       0.90625   , 0.66666667, 0.57142857, 0.36111111, 0.43902439,
       0.06060606, 0.06896552, 0.82608696, 0.59375   , 0.21052632,
       0.18421053, 0.3125    , 0.3       , 0.66666667, 0.34375   ,
       0.88372093, 0.11764706, 0.        , 0.8       , 0.02777778,
       0.10714286, 0.60465116, 0.44      , 0.31818182, 0.72727273,
       1.        , 0.03030303, 0.2972973 , 0.05263158, 0.08823529,
       1.        , 0.79310345, 0.69565217, 0.09677419, 0.81395349,
       0.78947368, 0.04081633, 0.02325581, 0.72727273, 0.86486486,
       0.06896552, 0.7027027 , 0.48648649, 0.53846154, 0.93939394,
       0.84375   , 0.8125    , 0.5       , 0.13513514, 0.23809524,
       0.        , 0.32      , 0.72972973, 0.86046512, 0.07894737,
       0.35      , 0.16666667, 0.76744186, 0.025     , 0.02941176,
       0.27777778, 0.08695652, 0.64864865, 0.30555556, 0.14705882,
       0.3125    , 0.6       , 0.66666667, 0.13513514, 0.28      ,
       0.18518519, 0.57142857, 0.78378378, 0.2195122 , 0.13513514,
       0.47619048, 0.66666667, 0.18518519, 0.5483871 , 0.18604651,
       0.78947368, 0.3125    , 0.54347826, 0.05405405, 0.        ,
       0.        , 0.86486486, 0.        , 0.41176471, 0.56756757,
       0.10526316, 0.26829268, 0.04347826, 0.        , 0.76470588,
       0.8       , 0.        , 0.51612903, 0.11111111, 0.72972973,
       0.2972973 , 0.        , 0.5       , 0.82857143, 0.74358974,
       0.02564103, 0.        , 0.125     , 0.21621622, 0.        ,
       0.74193548, 0.08108108, 0.26470588, 0.95555556, 0.4       ,
       0.2972973 , 0.86842105, 0.17647059, 0.11363636, 0.26829268,
       0.33333333, 0.22580645, 0.83783784, 0.02272727, 0.36363636,
       0.03703704, 0.        , 0.71875   , 0.08333333, 0.025     ,
       0.33333333, 0.41935484, 0.88888889, 0.14285714, 0.46153846,
       0.11627907, 0.82051282, 0.19047619, 0.75      , 0.86666667,
       1.        , 0.06818182, 0.13953488, 0.30769231, 0.18181818,
       0.09375   , 0.675     , 0.13636364, 0.        , 0.4375    ,
       0.51612903, 0.23076923, 0.61290323, 0.23255814, 0.75609756,
       0.32432432, 0.        , 0.52272727, 0.04347826, 0.02777778,
       0.4       , 0.24390244, 0.41463415, 0.02777778, 0.375     ,
       0.20512821, 0.83333333, 0.38095238, 0.47058824, 0.1875    ,
       0.13888889, 0.15555556, 0.        , 0.08823529, 0.81818182,
       0.2       , 0.79411765, 0.175     , 0.02083333, 0.625     ,
       0.75      , 0.        , 0.33333333, 0.02702703, 0.8       ,
       0.64285714, 0.94736842, 0.71428571, 0.33333333, 0.35897436,
       0.29411765, 0.09375   , 0.29032258, 0.83783784, 0.2       ,
       0.575     , 0.75555556, 0.60526316, 0.475     , 0.17948718,
       0.62222222, 0.11764706, 0.59259259, 0.5       , 0.12820513,
       0.51162791, 0.925     , 0.54285714, 0.19047619, 0.17391304,
       0.41860465, 0.86111111, 0.11764706, 0.34883721, 0.10526316,
       0.95833333, 0.30952381, 0.51282051, 0.3       , 0.72222222,
       0.18181818, 0.37837838, 0.13513514, 0.41666667, 0.35      ,
       0.58139535, 0.57692308, 0.08333333, 0.        , 0.        ,
       0.025     , 0.15      , 0.85714286, 0.06818182, 0.10714286,
       0.21875   , 1.        , 0.68571429, 0.09375   , 0.125     ,
       0.65789474, 0.11111111, 0.12195122, 0.83333333, 0.18421053,
       0.95238095, 0.75675676, 0.06896552, 0.        , 0.63888889,
       0.81818182, 0.24324324, 0.11904762, 0.        , 0.84210526,
       0.        , 0.        , 0.30555556, 0.78125   , 0.3030303 ,
       0.68571429, 0.23529412, 0.        , 0.03125   , 0.36363636,
       0.03703704, 0.16666667, 0.38095238, 0.02325581, 0.36111111,
       0.19444444, 0.06060606, 0.87179487, 0.61764706, 0.81818182,
       0.53125   , 0.55263158, 0.69230769, 0.10344828, 0.25641026,
       0.27272727, 0.2       , 0.        , 0.93023256, 0.94594595,
       0.20588235, 0.70967742, 0.09090909, 0.7       , 0.07142857,
       0.11111111, 0.55813953, 0.34210526, 0.1627907 , 0.13157895,
       0.17073171, 0.22857143, 0.96774194, 0.55172414, 0.05714286,
       0.23076923, 0.02941176, 0.35135135, 0.14285714, 0.76744186,
       0.15789474, 0.06818182, 0.13953488, 0.52941176, 0.18181818,
       0.        , 0.10526316, 0.5483871 , 0.06818182, 0.13513514,
       0.8       , 0.2       , 0.02439024, 0.48648649, 0.125     ,
       0.47222222, 0.8974359 , 0.95121951, 0.        , 0.59459459,
       0.20512821, 0.97297297, 0.32352941, 0.09375   , 0.14705882,
       0.97560976, 0.1025641 , 0.0952381 , 0.29411765, 0.53125   ,
       0.13888889, 0.42105263, 0.58823529, 0.09375   , 0.11111111,
       0.05882353, 0.10526316, 0.        , 0.78571429, 0.83783784,
       0.26666667, 0.30952381, 0.80555556, 0.88571429, 0.85      ,
       0.1875    , 0.74358974, 0.78947368, 0.34146341, 0.23333333,
       0.19047619, 0.16216216, 0.90322581, 0.05128205, 0.35714286,
       0.16666667, 0.5       , 0.75609756, 0.09090909, 0.72727273,
       0.05263158, 0.72972973, 0.15384615, 0.17142857, 0.75      ,
       0.475     , 0.20512821, 0.15151515, 0.        , 0.84615385,
       0.5625    , 0.        , 0.1       , 0.41666667, 0.31034483,
       0.12121212, 0.74418605, 0.70588235, 0.28947368, 0.78125   ,
       0.33333333])

## Categorical Data

In [16]:
categorical_variables = list(X.dtypes[X.dtypes == "object"].index)
X[categorical_variables].head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [18]:
X.drop(["Name", "Ticket"], axis=1, inplace=True)
test.drop(["Name", "Ticket"], axis=1, inplace=True)

In [19]:
def clean_cabin(x):
    try:
        return x[0]
    except TypeError:
        return "None"

In [20]:
X["Cabin"] = X.Cabin.apply(clean_cabin)
test["Cabin"] = test.Cabin.apply(clean_cabin)

In [21]:
X.Cabin

0      None
1         C
2      None
3         C
4      None
5      None
6         E
7      None
8      None
9      None
10        G
11        C
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21        D
22     None
23        A
24     None
25     None
26     None
27        C
28     None
29     None
       ...
861    None
862       D
863    None
864    None
865    None
866    None
867       A
868    None
869    None
870    None
871       D
872       B
873    None
874    None
875    None
876    None
877    None
878    None
879       C
880    None
881    None
882    None
883    None
884    None
885    None
886    None
887       B
888    None
889       C
890    None
Name: Cabin, Length: 891, dtype: object

In [22]:
test.Cabin

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12        B
13     None
14        E
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24        B
25     None
26        B
27     None
28        A
29     None
       ...
388    None
389    None
390       B
391       D
392    None
393    None
394    None
395       C
396    None
397       B
398    None
399    None
400       C
401    None
402    None
403    None
404       D
405       D
406    None
407       C
408    None
409    None
410    None
411       C
412    None
413    None
414       C
415    None
416    None
417    None
Name: Cabin, Length: 418, dtype: object

In [23]:
categorical_variables = ["Sex", "Cabin", "Embarked"]

for variable in categorical_variables:
    X[variable].fillna("Missing", inplace=True)
    dummies = pd.get_dummies(X[variable], prefix=variable)
    X = pd.concat([X, dummies], axis=1)
    X.drop([variable], axis=1, inplace=True)

In [ ]:
X

In [24]:
for variable in categorical_variables:
    test[variable].fillna("Missing", inplace=True)
    dummies = pd.get_dummies(test[variable], prefix=variable)
    test = pd.concat([test, dummies], axis=1)
    test.drop([variable], axis=1, inplace=True)

In [ ]:
test

In [25]:
X.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_None,Cabin_T,Embarked_C,Embarked_Missing,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,29.699118,0.523008,0.381594,32.204208,0.352413,0.647587,0.016835,0.052750,...,0.037037,0.035915,0.014590,0.004489,0.771044,0.001122,0.188552,0.002245,0.086420,0.722783
std,257.353842,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.477990,0.128725,0.223659,...,0.188959,0.186182,0.119973,0.066890,0.420397,0.033501,0.391372,0.047351,0.281141,0.447876
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,446.000000,3.000000,29.699118,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,668.500000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,891.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
test.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_None,Embarked_C,Embarked_Q,Embarked_S
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188,0.363636,0.636364,0.016746,0.043062,0.083732,0.031100,0.021531,0.019139,0.002392,0.782297,0.244019,0.110048,0.645933
std,120.810458,0.841838,12.634534,0.896760,0.981429,55.840500,0.481622,0.481622,0.128474,0.203240,0.277317,0.173797,0.145320,0.137177,0.048912,0.413179,0.430019,0.313324,0.478803
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,23.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1100.500000,3.000000,30.272590,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1204.750000,3.000000,35.750000,1.000000,0.000000,31.500000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
X.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E',
       'Cabin_F', 'Cabin_G', 'Cabin_None', 'Cabin_T', 'Embarked_C',
       'Embarked_Missing', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [28]:
test.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E',
       'Cabin_F', 'Cabin_G', 'Cabin_None', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [29]:
scaled_X = StandardScaler().fit(X).transform(X)

In [31]:
model = RandomForestRegressor(n_estimators=100, oob_score=True, n_jobs=-1, random_state=42)
#model.fit(X, y)
model.fit(scaled_X, y)
print("c_stat: ", roc_auc_score(y, model.oob_prediction_))
print("RSquare: ", model.score(scaled_X, y))
#print("OOB: ",model.oob_score_.round(2))
# w/o scaler c_stat:  0.863521128261
# w/ scaler c_stat:  0.86386731857

c_stat:  0.8494791167353721
RSquare:  0.9161736410698879

In [30]:
from sklearn.externals import joblib
#import pickle

In [32]:
#Model Creation as Joblib
#Save Model to Disk
filename = 'RandomForest1.sav'
joblib.dump(model, filename)
###Using Pickle
#filename = 'finalized_model.sav'
#pickle.dump(model, open(filename, 'wb'))

['RandomForest1.sav']

In [33]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(scaled_X, y)

In [34]:
result

0.9161736410698879

## Variable Importance Measures

In [ ]:
# gives an array of the features in numerical form giving their order of importance
# hard to follow
model.feature_importances_

array([  9.11384671e-02,   2.38891052e-01,   4.43567267e-02,
         2.15831071e-02,   2.15047796e-01,   1.43423437e-01,
         1.58822440e-01,   2.95342368e-03,   3.79055011e-03,
         6.47116172e-03,   4.30998991e-03,   8.59480266e-03,
         1.02403226e-03,   8.12054428e-04,   2.67741854e-02,
         6.64265010e-05,   1.06189189e-02,   0.00000000e+00,
         6.00379221e-03,   1.53176370e-02])

In [ ]:
#import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#from ipykernel import kernelapp as app

feature_importances = pd.Series(model.feature_importances_, index=X.columns)
print(feature_importances)
feature_importances.sort_values(inplace=True)
feature_importances.plot(kind='barh', figsize=(7,6))

Parch       0.021583
Embarked    0.031940
SibSp       0.044357
Cabin       0.054797
Pclass      0.091138
Fare        0.215048
Age         0.238891
Sex         0.302246
dtype: float64

## Parameter Optimization

In [ ]:
X

### n_jobs

In [ ]:
%%timeit
model = RandomForestRegressor(1000, oob_score=True, n_jobs=1, random_state=42)
#model.fit(X, y)
model.fit(scaled_X, y)

# w/o scaler 1 loop, best of 3: 3.78 s per loop
# w/ scaler 1 loop, best of 3: 3.74 s per loop
# 1 loop, best of 3: 3.71 s per loop

In [ ]:
%%timeit
model = RandomForestRegressor(1000, oob_score=True, n_jobs=-1, random_state=42)
#model.fit(X, y)
model.fit(scaled_X, y)

# w/o scaler 1 loop, best of 3: 2.68 s per loop
# w/ scaler 1 loop, best of 3: 2.67 s per loop
# 1 loop, best of 3: 2.78 s per loop

### n_estimators

In [ ]:
results = []
n_estimator_options = [30, 50, 100, 200, 500, 1000, 2000]

for trees in n_estimator_options:
    model = RandomForestRegressor(trees, oob_score=True, n_jobs=-1, random_state=42)
    #model.fit(X, y)
    model.fit(scaled_X, y)
    print(trees, 'trees')
    roc = roc_auc_score(y, model.oob_prediction_)
    print('C-stat: ', roc)
    results.append(roc)
    print (" ")
    
pd.Series(results, n_estimator_options).plot()

w/o scaler
w/ scaler

30 trees
C-stat:  0.853870407652
C-stat:  0.854597407301
 
50 trees
C-stat:  0.860698345743
C-stat:  0.861377411349
 
100 trees
C-stat:  0.863521128261
C-stat:  0.86386731857
 
200 trees
C-stat:  0.862192290076
C-stat:  0.862541143387
 
500 trees
C-stat:  0.863739494456
C-stat:  0.864168237838
 
1000 trees
C-stat:  0.864043076726
C-stat:  0.864253453914
 
2000 trees
C-stat:  0.863449227197
C-stat:  0.863571725306

### max_features

In [ ]:
results = []
max_features_options = ["auto", None, "sqrt", "log2", 0.9, 0.2]

for max_features in max_features_options:
    model = RandomForestRegressor(n_estimators=1000, oob_score=True, n_jobs=-1, random_state=42, max_features=max_features)
    #model.fit(X, y)
    model.fit(scaled_X, y)
    print(max_features, "option")
    roc = roc_auc_score(y, model.oob_prediction_)
    print('C-stat: ', roc)
    results.append(roc)
    print (" ")
    
pd.Series(results, max_features_options).plot(kind='barh', xlim=(.85, .88))

w/ scaler
w/o scaler

auto option
C-stat:  0.864043076726
C-stat:  0.864253453914

None option
C-stat:  0.864043076726
C-stat:  0.864253453914
 
sqrt option
C-stat:  0.86337466313
C-stat:  0.86368889741
 
log2 option
C-stat:  0.86337466313
C-stat:  0.86368889741
 
0.9 option
C-stat:  0.863534443273
C-stat:  0.863683571406
 
0.2 option
C-stat:  0.86337466313
C-stat:  0.86368889741

### min_samples_leaf

In [ ]:
results = []
min_samples_leaf_options = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for min_samples in min_samples_leaf_options:
    model = RandomForestRegressor(n_estimators=1000, oob_score=True, n_jobs=-1, random_state=42, max_features="auto", min_samples_leaf=min_samples)
    #model.fit(X, y)
    model.fit(scaled_X, y)
    print(min_samples, "min samples")
    roc = roc_auc_score(y, model.oob_prediction_)
    print('C-stat: ', roc)
    results.append(roc)
    print (" ")
    
pd.Series(results, min_samples_leaf_options).plot()

w/o scaler
w/ scaler

1 min samples
C-stat:  0.864043076726
C-stat:  0.864253453914
 
2 min samples
C-stat:  0.869654022731
C-stat:  0.869563480651
 
3 min samples
C-stat:  0.871571384442
C-stat:  0.871475516356 
 
4 min samples
C-stat:  0.873478094142
C-stat:  0.873403530076
  
5 min samples
C-stat:  0.874269005848
C-stat:  0.874380851948
  
6 min samples
C-stat:  0.874029335634
C-stat:  0.874082595682
  
7 min samples
C-stat:  0.873304998988
C-stat:  0.873310324993
  
8 min samples
C-stat:  0.871866977705
C-stat:  0.871925563758
  
9 min samples
C-stat:  0.869294517411
C-stat:  0.869299843415
  
10 min samples
C-stat:  0.867430415748
C-stat:  0.867441067757

## Final Model

In [ ]:
model = RandomForestRegressor(n_estimators=1000, 
                              oob_score=True, 
                              n_jobs=-1, 
                              random_state=42, 
                              max_features="auto", 
                              min_samples_leaf=5)
#model.fit(X, y)
model.fit(scaled_X, y)
roc = roc_auc_score(y, model.oob_prediction_)
print('C-stat: ', roc)

# w/o scaler C-stat:  0.874269005848
# w/ scaler C-stat:  0.874380851948

## Test Data

### Sample train data

In [ ]:
test_X = scaled_X[:10]

In [ ]:
test_X

In [ ]:
pred = model.predict(test_X)

In [ ]:
print(pred)

In [ ]:
binary_pred = Binarizer(threshold=0.55).fit(pred).transform(pred)
print(binary_pred)

### Predictions

In [ ]:
scaled_test = StandardScaler().fit(test).transform(test)

In [ ]:
scaled_test[:10]

In [ ]:
prediction = model.predict(scaled_test)

In [ ]:
print(prediction)

In [ ]:
b_prediction = Binarizer(threshold=0.55).fit(prediction).transform(prediction)

In [ ]:
print(b_prediction)

[ 0.79461279  0.82154882  0.82491582]
0.813692480359

[ 0.79888268  0.79329609  0.79775281  0.79775281  0.83615819]
0.804768516204

[ 0.78888889  0.76666667  0.7752809   0.79775281  0.82022472  0.78651685
  0.79775281  0.78651685  0.88764045  0.81818182]
0.8025422767